mnist_task/data/
mnist_task/generated_class/
mnist_task/generated_class_conditional
mnist_task/*.pyc
mnist_task/vae.pyc
mnist_task/MNIST_data/
mnist_task/generated_functional/
mnist_task/generated_conv/
mnist_task/generated_conv_arch1/
mnist_task/generated_aug/
mnist_task/generated/

*.pkl
*.pyc
vae_gym/*.pkl
vae_gym/*.pyc
vae_gym/output
test_images/
